@import url(http://fonts.googleapis.com/css?family=Viga);

body {
	margin: 0 auto;
	padding: 0 auto;
	background-image: url(../img/footer_lodyas.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 18px;
	font-family: 'Viga', sans-serif;
	font-style: normal;
	color: whitesmoke;
}

#test {
	margin-left: 17%;
	width: 500px;
}

#header div {
	text-align: center;
	background-color: #3D007a;
	opacity: 0.4;
	overflow-x: hidden;
}

.full-width {
	margin: 0 auto;
	width: 100%;
}

.checkout {
	background-color: beige;
}

.container-fluid, .container {
	color: #FFFFFF;
}

.modal-header {
	color: black;
}

.modal-body {
	color: black;
}

header {
	background-color: #3D007A;
	padding: 0.5em;
	text-align: center;
	opacity: 0.4;
	font-size: 150%;
}

.headline {
	font-size: 75%;
	color: #EEEEEE;
	margin-bottom: 1em;
}

.first-div-offset {
	padding-top: 50px;
}

h1 {
	font-size: 150%;
}

#menus h1 {
	text-align: center;
}

footer {
	background-color: #3D007A;
	font-size: 80%;
	text-align: center;
	opacity: 0.4;
	overflow-x: hidden;
}

section {
	padding-bottom: 3em;
}

img { 
	height: 80%;
	width: 80%;
	display:block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#about { 
	text-align: center;
	background-color: rgba(255, 215, 0, 0.1);
}

.logo { 
	height: 10%;
	width: 10%;
	display: inline-block;
}

.uw-purple {
	background-color: purple;
}

.uw-yellow {
	background-color: gold;
}

/*if bigger screen do this*/
@media (min-width: 992px) {
	body {
		background-image: url(../img/footer_lodyas.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-size: 18px;
		font-family: 'Viga', sans-serif;
		font-style: bold; ;
	}

	.tag-line {
		display: inline-block;  
	}

	#first img{
		float: right;
		clear:both;
		margin-top: 1em;
	}

	#second img{
		float: left;
		clear:both;
		margin-top: 1em;
	}
	#third img{
		float: right;
		clear:both;
		margin-top: 1em;
	}

	#fourth img{
		float: left;
		clear:both;
		margin-top: 1em;
	}

	img { 
		height: 65%;
		width: 65%;
	}

	h1 { 
		font-size: 275%;
	}

	.headline { 
		font-size: 100%;
	}
}