@import url(http://fonts.googleapis.com/css?family=Viga);

body {
	margin: 0 auto;
	padding: 0 auto;
	background-image: url(../img/footer_lodyas.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 18px;
	font-family: 'Viga', sans-serif;
	font-style: normal;
	color: whitesmoke;
}

.check {
	text-align: center;
}

.table-striped > tbody > tr:nth-child(even) { 
	background-color: #444444;
}

.table-striped > tbody > tr:nth-child(odd) { 
	background-color: #d9d9d9;
}

.full-width {
	margin: 0 auto;
	width: 100%;
}

.container-fluid, .container {
	color: #FFFFFF;
}

.modal-header {
	color: black;
}

.modal-body {
	color: black;
}

.bg-success {
	background-color: #61B329;
	padding: 1em;
	display: none;
}

#header, footer, .uw-purple { 
	background-color: #4b2e83;
	padding: 0.5em;
	text-align: center;
	margin-bottom: 1em;
}

header {
	font-size: 100%;
}

footer {
	margin-top: 1em;
	border-top: 5px;
	font-size: 80%;
	text-align: center;
}

.headline {
	font-size: 100%;
	color: #EEEEEE;
	margin-bottom: 1em;
}

.first-div-offset {
	padding-top: 50px;
}

h1 {
	font-size: 150%;
}

#menus h2 {
	text-align: center;
}

h2 { 
	font-size: 130%;
}

img { 
	height: 60%;
	width: 60%;
	display:block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#about, #how-it-works { 
	text-align: center;
	padding-bottom: 1em;
}

#how-it-works, .well, .table-striped > tbody { 
 	background-color: #b7a57a;;
}

#about, .checkout, .table-striped > tbody { 
	background-color: #85754d;
}

#how-it-works { 
	margin-top: 1em;
}

.logo { 
	height: 10%;
	width: 10%;
	display: inline-block;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav ul a:hover, input:focus {
	color: #00E;
}

nav li {
	display: inline-block;
	margin-right: 1em;
}

li { 
	list-style-type: none;
}

#food-truck { 
 	width: 2em;
 	height: 2em;
    margin-top: -10px;
}

.navbar {
    background: rgba(0,0,0,1);
}

#how-it-works, #about { 
	text-align: center;
}

th, td { 
	text-align: center;
	vertical-align: middle; 
}

.item-center { 
	text-align: center;
}

.img-thumbnail:hover {
    cursor: pointer;
}

.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/*if bigger screen do this*/
@media (min-width: 992px) {
	body {
		background-image: url(../img/footer_lodyas.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-size: 18px;
		font-family: 'Viga', sans-serif;
		font-style: bold;
	}

	.tag-line {
		display: inline-block;  
	}

	#first img{
		float: right;
		clear:both;
		margin-top: 1em;
	}

	#second img{
		float: left;
		clear:both;
		margin-top: 1em;
	}
	#third img{
		float: right;
		clear:both;
		margin-top: 1em;
	}

	#fourth img{
		float: left;
		clear:both;
		margin-top: 1em;
	}

	img { 
		height: 65%;
		width: 65%;
	}

	h1 { 
		font-size: 275%;
	}

	h2 { 
		font-size: 160%;
	}

	.logo { 
		height: 5%;
		width: 5%;
		display: inline-block;
	}

	.btn { 
	    background: white;
	    color: #85754d;
	}

	.checkout-button { 
		border: none;
	}

	#running-total {
		float: right;
	}
}