<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Kevin Ly">
        <meta name="description" content="Sample menu for Siganos Food Truck">

        <title>Siganos</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/menu.css">
        <!--<link rel="shortcut icon" href="img/pizza-icon.png">-->
        <script src="lib/angular-1.3.1/angular.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <main class="container" ng-app="FoodApp" ng-controller="FoodController">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Husky Food Trucks</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                            <li><a href="about.html">About</a></li>
                            <li class="active"><a href="menu.html">Menu</a></li>
                            <li><a href="queue.html">My Orders</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <header class="row">
                <h1>Siganos</h1>
                <img src="img/ajax-spinner.gif" alt="ajax animation" ng-if="loading"/>
                <!--<p id="tag-line">Feeding Hungry Huskies Since 2013</p>-->

                <!--<nav role="navigation">-->
                    <!--<ul>-->
                        <!--<li><a href="#location">location</a></li>-->
                        <!--<li><a href="#menu">menu</a></li>-->
                        <!--<li><a href="#about">about</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
                <div id="meat">
                    <dd id="meatType">Meats:</dd>
                    <dd id="meatType">Chicken Tinga, Carne Asada, Pork Carnitas, Vegan Gardien Chicken</dd>
                </div>
            </header>

            <section id="menu" class="row">
                <h2>Entrees</h2>
                <div class="col-md-6 food" ng-repeat="s in siganos | filter: {type:'entree'}" ng-click="additem(s)">
                    <dl>
                        <dt>{{s.item}}<p style="float: right;">{{s.price | currency : '$' : 2}}</p></dt>
                        <dd>{{s.description}}</dd>
                    </dl>
                </div>
            </section>

            <section id="menu" class="row">
                <h2>Sides</h2>
                <dl class="col-md-6" ng-repeat="s in siganos | filter: {type:'Sides'}" ng-click="additem(s)">
                    <dt class="food">{{s.item}} <p style="float: right;">{{s.price | currency : '$' : 2}}</p></dt>
                </dl>
            </section>


            <section id="menu" class="row">
                <h2>Daily Special</h2>
                <div class="col-md-12">
                    <dl class="food">
                        <dt>Item Name<p style="float: right;">price</p></dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quia quod totam vitae! Aspernatur eius quam sed veniam voluptate. Accusantium autem culpa dolorem ducimus, eveniet harum illo nisi pariatur tempora.</dd>
                    </dl>
                </div>
            </section>

            <section id="menu" class="row">
                <h2>Cold Drinks</h2>
                <dl class="col-md-6 food">
                    <dt>Soda, Juice, Water <p style="float: right;">$1.05</p></dt>
                    <dd>Coke, Diet Coke, Coke Zero, Sprite, Grape Fanta, Orange Fanta, Lemonade, Bottled Water</dd>
                </dl>
                <dl class="col-md-6 food">
                    <dt>Mexican Soda <p style="float: right;">$1.79</p></dt>
                    <dd>Coke or Orange Fanta</dd>
                </dl>
            </section>

            <footer class="row">
                <p>&copy; 2014, UW Food Trucks, <a href="mailto:foodtrucks@uw.edu">foodtrucks@uw.edu</a></p>
                <p><a href=#> Back to Top &uarr;</a></p>
            </footer>
        </main>
        <script src="js/siganos.js"></script>
        <script src="js/redsquarebbq.js"></script>
        <script src="js/motosurf.js"></script>
        <script src="js/hotdawgs.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>