<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>My Orders</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="img/foodtruck.png">
    </head>
    <body>
        <main>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-right">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="index.html">
                            <img id="food-truck" src="img/foodtruck.png" alt="UW Street Food Logo" >
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html #about">About Us</a></li>
                            <li><a href="index.html #how-it-works">How It Works</a></li>
                            <li class="active"><a href="queue.html">My Orders</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <section id="header">
                <div class="container-fluid first-div-offset">
                    <h1>Food Truck Orders</h1>
                    <p class="subtitle">Manage your student orders here. On this page you can fulfill or decline an order. The student will arrive and make the payment in person.</p>

                    <label for="food-progress">Order Progress</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>

                    <!--REMOVE FILTERS-->

                    <label id="filters" for="filters">Pick and choose your food truck</label>

                    <!--BUTTON CHOICES-->
                    <button type="button" class="btn btn-default" id="hot-dawgs-visible">Hot Dawgs</button>
                    <button type="button" class="btn btn-default" id="motosurf-visible">Motosurf</button>
                    <button type="button" class="btn btn-default" id="red-square-bbq-visible">Red Square BBQ</button>
                    <button type="button" class="btn btn-default" id="siguanos-visible">Siganos</button>
                </div>
            </section>

            <section id="main">
                <div class="container">
                    <div class="well col-sm-4 checkout" style="float:right" id="running-total">
                        <table class="table">
                            <thead>
                                <h3>Checkout Total</h3>
                            </thead>
                            <tr>
                                <th>Subtotal</th>
                                <td>$56.93</td>
                            </tr>
                            <tr>
                                <th>Tax</th>
                                <td>10.00%</td>
                            </tr>
                        </table>

                    </div>

                    <div class="well row col-sm-8" id="motosurf">
                        <table class="table table-striped">
                            <thead>
                            <h2>Motosurf</h2>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Cost ($)</th>
                                <th>Delete</th> 
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Carter</td>
                                    <td>johncarter@mail.com</td>
                                    <td>Hamburger</td>
                                    <td>1</td>
                                    <td>$10.00</td>
                                    <td><input class="check" type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="well row col-sm-8" id="red-square-bbq">
                        <table class="table table-striped">
                            <thead>
                                <h2>Red Square BBQ</h2>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Cost ($)</th>
                                    <th>Delete</th> 
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="well row col-sm-8" id="hot-dawgs">
                        <table class="table table-striped">
                            <thead>
                            <h2>Hot Dawgs</h2>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Cost ($)</th>
                                <th>Delete</th> 
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="well row col-sm-8" id="siguanos">
                        <table class="table table-striped">
                            <thead>
                            <h2>Siganos</h2>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Cost ($)</th>
                                <th>Delete</th> 
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                             <tr>
                                <td>John</td>
                                <td>Carter</td>
                                <td>johncarter@mail.com</td>
                                <td>Hamburger</td>
                                <td>1</td>
                                <td>$10.00</td>
                                <td><input type="checkbox" ng-model="delete.done" ng-change="deleteItem(item)"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>
                    <button class="btn btn-primary" ng-click="refreshItems()">Refresh</button>
                    <!--<img src="img/ajax-spinner.gif" alt="loading animation" ng-if="loading || updating"/> -->
                </p>
            </section>
        </main>

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.7.0/bootstrap-lightbox.min.css"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    </body>

</html>