<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>My Orders</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="img/foodtruck.png">
    </head>
    <body>
        <main>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-right">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="index.html">
                            <img id="food-truck" src="img/foodtruck.png" alt="UW Street Food Logo" >
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html#about">About Us</a></li>
                            <li><a href="index.html#how-it-works">How It Works</a></li>
                            <li class="active"><a href="queue.html">My Orders</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <section id="header">
                <div class="container-fluid first-div-offset">
                    <h1>My Orders</h1>
                    <div class="container">
                        <p class="subtitle">Manage your orders here. On this page you can review your selections, confirm your order, and submit it to the queue. You must go to the food truck in person to pay and receive your food. </p>
                    </div>
                </div>
            </section>

            <section id="main" ng-app="FoodApp" ng-controller="FoodController">
                <div class="container">
                    <div class="well col-sm-4 checkout" id="running-total"> 
                        <!-- style="float:right" --> 
                        <table class="table">
                            <thead>
                                <h3>Checkout Total</h3>
                            </thead>
                            <tr>
                                <th>Subtotal</th>
                                <td id="subtotal"></td>
                            </tr>
                            <tr>
                                <th>Tax</th>
                                <td>10.00%</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td id="total"></td>
                            </tr>
                            <tr>
                                <th>Special Requests</th>
                                <td>
                                    <div id="test4" ng-class="{ 'has-error' : form.comment.$invalid && !form.comment.$pristine }">
                                        <textarea class="form-control" name="comment" rows="3" placeholder="Do you have any special requests?" ng-model="newComment.comment" required></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="btn">
                             <button class="btn checkout-button" ng-click="asdfsdf()">Checkout</button>
                        </div>
                    </div>

                    <div class="well row col-sm-8" id="motosurf">
                        <table class="table">
                            <thead>
                                <h2>Motosurf</h2>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Cost ($)</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat="item in items | filter: {truck: 'motosurf'}">
                                    <td>{{item.item}}</td>
                                    <td>1</td>
                                    <td>{{item.price | currency : '$' : 2}}</td>
                                    <td><button type="submit" class="btn btn-primary" ng-click="deleteitem(item)">x</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="well row col-sm-8" id="red-square-bbq">
                        <table class="table">
                            <thead>
                                <h2>Red Square BBQ</h2>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Cost ($)</th>
                                    <th>Delete</th> 
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items | filter: {truck: 'redsquarebbq'}">
                                <td>{{item.item}}</td>
                                <td>1</td>
                                <td>{{item.price | currency : '$' : 2}}</td>
                                <td><button type="submit" class="btn btn-primary" ng-click="deleteitem(item)">x</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="well row col-sm-8" id="hot-dawgs">
                        <table class="table">
                            <thead>
                            <h2>Hot Dawgs</h2>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Cost ($)</th>
                                <th>Delete</th> 
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items | filter: {truck: 'hotdawgs'}">
                                <td>{{item.item}}</td>
                                <td>1</td>
                                <td>{{item.price | currency : '$' : 2}}</td>
                                <td><button type="submit" class="btn btn-primary" ng-click="deleteitem(item)">x</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="well row col-sm-8" id="siguanos">
                        <table class="table">
                            <thead>
                            <h2>Siganos</h2>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Cost ($)</th>
                                <th>Delete</th> 
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items | filter: {truck: 'siganos'}">
                                <td>{{item.item}}</td>
                                <td>1</td>
                                <td>{{item.price | currency : '$' : 2}}</td>
                                <td><button type="submit" class="btn btn-primary" ng-click="deleteitem(item)">x</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </main>

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.7.0/bootstrap-lightbox.min.css"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/siganos.js"></script>
        <script src="js/redsquarebbq.js"></script>
        <script src="js/motosurf.js"></script>
        <script src="js/hotdawgs.js"></script>

    </body>

</html>
